@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-line {
    @apply border border-[#FFFFFF33] rounded-[15px] bg-[#FB72000D];
  }

  .text-bold {
    @apply font-semibold  text-white font-montserrat;
  }

  .progress-bar-container {
    width: 100%;
    background-color: #d9d9d9;
    border-radius: 25px;
    overflow: hidden;
  }

  .progress-bar {
    height: 8px;
    background-color: #fb7200;
    width: 0;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
